## Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, MetaData, Table,  \
    Column, VARCHAR, DATE

### Extracting column names

In [2]:
data = pd.read_csv("data.txt")
col_names= str(data.columns.values)
lst = col_names.split('|')
#print(lst)
l = lst[2:11]
col_names = l + ['Is_Active',]
print(f"Column name: {col_names}")

Column name: ['Customer_Name', 'Customer_Id', 'Open_Date', 'Last_Consulted_Date', 'Vaccination_Id', 'Dr_Name', 'State', 'Country', 'DOB', 'Is_Active']

## Importing the text data. From inspection we see data items are separated by a delimiter '|'

In [3]:
df = pd.read_csv("data.txt",
                  sep="|",
                  names=col_names,
                  skiprows=1,
                  usecols=[2,3,4,5,6,7,8,9,10,11],
                  parse_dates=[2,3,8])
df

,Customer_Name,Customer_Id,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,Country,DOB,Is_Active
0,Alex,123457,2010-10-12,2012-10-13,MVD,Paul,SA,USA,06031987,A
1,John,123458,2010-10-12,2012-10-13,MVD,Paul,TN,IND,06031987,A
2,Mathew,123459,2010-10-12,2012-10-13,MVD,Paul,WAS,PHIL,06031987,A
3,Matt,12345,2010-10-12,2012-10-13,MVD,Paul,BOS,NYC,06031987,A
4,Jacob,1256,2010-10-12,2012-10-13,MVD,Paul,VIC,AU,06031987,A

### Some queries to check about the nature of data

In [4]:
# inspecting null values
df.isnull().sum()

Customer_Name          0
Customer_Id            0
Open_Date              0
Last_Consulted_Date    0
Vaccination_Id         0
Dr_Name                0
State                  0
Country                0
DOB                    0
Is_Active              0
dtype: int64

In [5]:
# inspecting data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer_Name        5 non-null      object
 1   Customer_Id          5 non-null      int64
 2   Open_Date            5 non-null      datetime64[ns]
 3   Last_Consulted_Date  5 non-null      datetime64[ns]
 4   Vaccination_Id       5 non-null      object
 5   Dr_Name              5 non-null      object
 6   State                5 non-null      object
 7   Country              5 non-null      object
 8   DOB                  5 non-null      object
 9   Is_Active            5 non-null      object
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 528.0+ bytes

We see the DOB values are object datatype. we will convert it into date datatype format

In [6]:
df['DOB'] = pd.to_datetime(df['DOB'], format='%d%m%Y')

Just in case if there are null values in the dataframe, we can use dropna() function.

In [7]:
# Drop the rows where at least one element is missing.
df = df.dropna(how = 'any').reset_index(drop=True)

### Extracting unique countries available to us

In [8]:
countries=df["Country"].unique()
countries

array(['USA', 'IND', 'PHIL', 'NYC', 'AU'], dtype=object)

# Manually created a database in mysql workbench using:
##### CREATE database incubyte;
##### use incubyte;

## Connection Establishment using SQLALCHEMY:
### Creating an instance as my_conn to connect to mysql database

In [9]:
my_conn = create_engine("mysql+mysqldb://root:passWord@localhost/incubyte")

### Now creating a table and column names using sqlalchemy

In [10]:
# A collection of metadata entities is stored in an object aptly named MetaData:
metadata = MetaData()

# country-wise table creation with columns mentioned in the assessment
for country in countries:
    # lower casing table name according to sql requirements
    country = country.lower()
      
    country1 = Table(country, metadata,
        Column('Customer_Name', VARCHAR(255), nullable=False, primary_key=True),
        Column('Customer_Id', VARCHAR(18), nullable=False),
        Column('Open_Date', DATE(), nullable=False),
        Column('Last_Consulted_Date', DATE()),
        Column('Vaccination_Id', VARCHAR(5)),
        Column('Dr_Name', VARCHAR(225)),
        Column('State', VARCHAR(5)),
        Column('Country', VARCHAR(5)),
        Column('DOB', DATE()),
        Column('Is_Active', VARCHAR(length=1), nullable=False),extend_existing=True
    )
    
    metadata.create_all(my_conn)

## Inserting Cleaned Dataframe Data to Database to the corresponding country table

In [11]:
#country-wise  data storing to corresponding table
for country in countries:
    data = df[df['Country'] == country] 
    data.to_sql(con=my_conn,name=country.lower(),if_exists='append',index=False)

# Reading each country data from Database Tables

In [12]:
with my_conn.connect() as con:
    for country in countries:
        view = con.execute('SELECT * FROM '+country) 

        for data in view:
            print(f'{country}\n{data}\n\n')

USA
('Alex', '123457', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'SA', 'USA', datetime.date(1987, 3, 6), 'A')


IND
('John', '123458', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'TN', 'IND', datetime.date(1987, 3, 6), 'A')


PHIL
('Mathew', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'WAS', 'PHIL', datetime.date(1987, 3, 6), 'A')


NYC
('Matt', '12345', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'BOS', 'NYC', datetime.date(1987, 3, 6), 'A')


AU
('Jacob', '1256', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD', 'Paul', 'VIC', 'AU', datetime.date(1987, 3, 6), 'A')